DATABASE_URL=
REDIS_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_POSTHOG_KEY=
EXPO_PUBLIC_SENTRY_DSN=

POSTHOG_API_KEY=
SENTRY_AUTH_TOKEN=

ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
